h1.title-heading {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
h2.title-heading {
  font-family: 'Oswald', sans-serif;
}
h2.sub-title-heading {
  font-family: 'Slabo 27px', serif;
  text-align: center;
}
.summary-text {
  font-family: 'Roboto', sans-serif;
  background-color: peachpuff;
}
.footer-info {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: darkkhaki;
}
.linkedin-profile {
  float: left;
  outline: 3px solid orange;
  margin: 10px;
}
.header-image, .header-title {
  background-color: cornflowerblue;
}
.image-section {
  text-align: center;
}
.upload-sections {
  outline: 3px solid orange;
  margin-left: 20px;
  margin-top: 10px;
  width: 35%!important;
}
.uploads-header {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: darkkhaki;
  margin-bottom: 5px;
}
.github-section {
  margin: 10px;
  outline: 3px solid orange;
}
.github-image {
  max-width: 100%;
  height: auto;
}
.collapsible-repo {
  padding: 0 !important;
}
.repo-heading {
  background-color: darkkhaki !important;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
span.list-title {
  display: block;

}
span.highlight-number {
  font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color: #4078c0;
}
div.github-header {
  font-family: 'Roboto Slab', serif;
  padding-bottom: 5px;
}
div.github-header-row {
  background-color: powderblue
}
