h1.title-heading {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
h2.title-heading {
  font-family: 'Oswald', sans-serif;
}
h2.sub-title-heading {
  font-family: 'Slabo 27px', serif;
  text-align: center;
}
.summary-text {
  font-family: 'Roboto', sans-serif;
  background-color: peachpuff;
}
.footer-info {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: darkkhaki;
}
.linkedin-profile {
  float: left;
  outline: 3px solid orange;
  margin: 10px;
}
.header-image, .header-title {
  background-color: cornflowerblue;
}
.image-section {
  text-align: center;
}
.upload-sections {
  outline: 3px solid orange;
  margin-left: 20px;
  margin-top: 10px;
  width: 35%!important;
}
.uploads-header {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: darkkhaki;
  margin-bottom: 5px;
}
.github-section {
  margin: 10px;
  outline: 3px solid orange;
}
.github-image {
  max-width: 100%;
  height: auto;
}
.collapsible-repo {
  padding: 0 !important;
}
.repo-heading {
  background-color: darkkhaki !important;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  height: 100%;
  overflow: auto;
  cursor: pointer;
}
span.list-title {
  display: block;
}
span.highlight-number {
  font-size: 28px;
  font-weight: bold;
  line-height: 1;
  color: #4078c0;
}
div.github-header {
  font-family: 'Roboto Slab', serif;
  padding-bottom: 5px;
}
div.github-header-row {
  background-color: powderblue
}
button.float {
  margin-top: 20px;
  background: #27AE60;
  border: none;
  font-size: 1.6em;
  font-weight: 300;
  padding: 5px 0;
  width: 100%;
  border-radius: 3px;
  color: #b3eecc;
  border-bottom: 4px solid #1e8449;
  box-shadow: 0 0 1px transparent;
}
body {
  background: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg) no-repeat center center fixed !important;
}
div.login {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  /* Half of the height */
  left: 50%;
  margin-left: -197px;
  /* Half of the width */
  border-radius: 5px;
  padding: 10px;
}
h1.home-title {
  color: white;
}
.group {
  position: relative;
  margin-bottom: 45px;
}
input.material {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */

label {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #ffffff;
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #ffffff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */

input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
.btn {
  position: relative;
  float: left;
  display: block;
  margin: 5px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, .3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width .2s ease-out, padding-top .2s ease-out;
}
button.submit-profile {
  float: none!important;
}
div.submit-row {
  background-color: darkkhaki;
  margin-top: 80px;
}
table.admin-table th {
  background-color: #4CAF50;
  color: white;
}
table.admin-table td:first-child {
  color: white;
}
